body, html {
    background-color: rgb(119, 119, 119);
    margin: auto;
    padding: 0;
    position: relative;
    height: 100%;
}

#navbar {
    background-color: rgb(70, 70, 70);
    float: left;
    width: 20%;
    height: 100%;

}

#page {
    float: left;
    width: 80%;
    height: 100%;
}

#pageinner {
    top: 0;
    margin: auto;
    padding: 10px;
}

#navbarinner {
    margin: auto;
    padding: 10px;
}
 
p {
    margin: auto;
}

pre {
    margin: auto;
}

#signout_button {
    float: right;
    margin: auto;
}

#addaccount {
    width: 100%;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}