body, html {
    height: 95%;
}

#bgimg {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    transform: scale(1.1);
    filter: blur(5px);
    height: 100%;
    width: 100%;
}

#loginbox {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 450px;
    border-radius: 5%;
}



@media only screen and (max-width: 10cm){
    #loginbox {
        width: 80%;
    }
} 

h1 {
    margin: auto;
    width: 80%;
    height: 15%;
    top: 10%;
    text-align: center;
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#authorize_button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: rgb(34, 185, 110);
    border-radius: 5px;
    border: none;
    transition-duration: 0.25s;
    width: 80%;
    height: 15%;
    margin: auto;
    position: relative;
    top: 60%;
}

#authorize_button:hover {
    background-color: rgb(28, 207, 118);
}

#authorize_button:active {
    background-color: rgb(47, 153, 100);
}