body, html {
    height: 95%;
    margin: auto;
    position: relative;
}

#bgimg {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    transform: scale(1.1);
    filter: blur(5px);
    height: 100%;
    width: 100%;
}

#loginbox {
    background-color: rgba(255, 255, 255, 0.6);
    width: 500px;
    height: 500px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    border-radius: 10px;
}

h1 {
    margin: auto;
    width: 80%;
    height: 15%;
    top: 15%;
    text-align: center;
    font-size: 32pt;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#authorize_button {

    padding: 10px;
    margin: auto;
    width: 70%;
    top: 60%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    background-color: rgb(34, 185, 110);
    border-radius: 5px;
    border: none;
    transition-duration: 0.25s;
    position: relative;
}

#authorize_button:hover {
    background-color: rgb(28, 207, 118);
}

#authorize_button:active {
    background-color: rgb(47, 153, 100);
}