body, html {
    background-color: rgb(217, 217, 217);
    margin: auto;
    padding: 0;
    height: 100%;
}

#dashboard {
    left: 100px;
}

#top_bar {
    background-color: rgb(60, 110, 113);
    height: 50px;
    text-align: left;
    text-indent: 4em;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    font-family: "Open Sans"; 
    font-size: 24px;
}

.topbtn {
    background-color: rgb(49, 72, 73);
    margin: auto;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(49, 72, 73);
    color: white;
    transition-duration: 0.2s;
    font-family: "Open Sans"; 
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
}

.topbtn:hover {
    transition-duration: 0.2s;
    background-color: rgb(255, 255, 255);
    color: black;
}

.topbtn:active {
    transition-duration: 0.2s;
    background-color: rgb(38, 51, 53);
    color: white;
}

#addrowbtn {
    right: 5px;
    top: 5px;
    left: auto;
    width: 40px;
    height: 40px;
    font-size: 20px; 
    font-size: 24px;
}

#page {
    float: left;
    width: 100%;
    height: 100%;
}

#pageinner {
    top: 0px;
    margin: auto;
    padding: 5px;
}

p {
    margin: auto;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

tr {
    transition-duration: 0.2s;
    background-color: rgba(0, 0, 0, 0);
}

tr:hover {
    transition-duration: 0.2s;
    background-color: rgba(0, 92, 99, 0.3);
    cursor: pointer;
}

#editwindow, #editrow, #addrowwindow {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    background-color: rgba(26, 49, 65, 0.95);
}

#addrowwindow {
    height: 400px; 
}

#editrow {
    height: 350px;
}

#apply, #canceleditrow, #newapply, #newcanceleditrow {
    display: inline-block;
    width: 200px;
    margin-left: 30px;
}

.editbtn {
    padding: 10px;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    font: bold 16px "Open Sans";
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(38, 51, 53);
    background-color: white;
    color: black;
    cursor: pointer;
}

h1 {
    text-align: center;
    font: bold 28px "Open Sans";
    color: white;
    overflow: hidden;
}

#delete, #canceleditrow, #newcanceleditrow {
    background-color: rgb(187, 70, 70);
    transition-duration: 0.2s;
}

#delete:hover, #canceleditrow:hover, #newcanceleditrow:hover {
    background-color: rgb(255, 51, 51);
    transition-duration: 0.2s;
}

#cancel {
    background-color: rgb(192, 192, 192);
    transition-duration: 0.2s;
}

#cancel:hover {
    background-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}

#edit, #apply, #newapply {
    background-color: rgb(90, 172, 122);
    transition-duration: 0.2s;
}

#edit:hover, #apply:hover, #newapply:hover {
    background-color: rgb(59, 255, 134);
    transition-duration: 0.2s;
}

.input, label {
    margin-left: 20px;
    display: inline-block;
}

.input {
    width: 85%;
}

label {
    font-family: "Open Sans";
    font-size: 14px;
    color: white;
}

.daterow, .creditrow, .debitrow, .balancerow {
    white-space: nowrap;
    vertical-align: top;
}

#tablebalance {
    background-color: rgb(49, 72, 73);
    height:auto;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    white-space: nowrap;
    font: bold 20px 'Open Sans';
    color: white;
}

#tabledata {
    word-break: break-all;
    table-layout: fixed;
    width: 100%;
}

.particularrow {
    text-align: left;
    vertical-align: top;
}

.bar {
    padding-right: 10px;
    margin: auto;
    margin-left: 0px;
    width: fit-content;
}

@media only screen and (max-width: 15cm) {
    #top_bar {
        height: 50px;
        width: 100%;
    }
    .daterow, .creditrow, .debitrow, .balancerow {
        white-space: normal;
    }
    #editwindow, #editrow, #addrowwindow {
        width: 80%;
        height: fit-content;
        padding-bottom: 5%;
        left:0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #apply, #newapply, #canceleditrow, #newcanceleditrow {
        width: 90%;
        margin-left: 15px
    }
    #dateinput, #particularinput, #creditinput, #debitinput, #newdateinput, #newparticularinput, #addcreditinput, #adddebitinput {
        height: 20px;
    }
}